<div class="container-fluid">
  <div class="border border-secondary rounded mx-3 my-5 pt-4 px-4">
    <h2 class="pb-2">{{post.title}}</h2>
    <p>
      {{post.content}}
    </p>
    <p class="font-italic text-right">Created by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
</div>
{{#each comments as |comment|}}
<div class="container-fluid">
  <div class="border border-secondary rounded mx-3 my-5 pt-4 px-4">
    <p>{{comment.content}}</p>
    <p class="font-italic text-right">Created by {{comment.user.username}} on {{format_date comment.date_created}}</p>
  </div>
</div>
{{/each}}
{{#if logged_in}}
<div class = "container-fluid">
  <a class="btn btn-primary m-3" href="/newcomment/{{post.id}}">+ New Comment</a>
</div>
{{/if}}